*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(90deg, rgba(73,7,25,0.55) 0%, rgba(73,7,25,0.55) 10%, rgba(73,7,25,0.55) 50%, rgba(73,7,25,0.55) 90%), url('../image/fondo2.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
/*container*/
.container{
    width: 85%;
    margin: 0px auto;
    position: relative;
}
/*navbar*/
.icon__menu{
  display: none;
}
header{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
}
.navabar__menu__background{
    background: linear-gradient(90deg, rgba(73,7,25,0.10127801120448177) 0%, rgba(73,7,25,0.0984768907563025) 10%, rgba(73,7,25,0.10407913165266103) 50%, rgba(73,7,25,0.0984768907563025) 90%);
    border-radius: 20px;
    border: 2px solid rgba(203,18,68,0.2);
    backdrop-filter: blur(10px);
    padding: 15px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 8px;
}
.navbar__menu__icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.navbar__menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navbar__menu__1, .navbar__menu__2, .navbar__menu__h, .navbar__menu__v2{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
} 
.navbar__menu__v2{
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(73,7,25,0.10127801120448177) 0%, rgba(73,7,25,0.0984768907563025) 10%, rgba(73,7,25,0.10407913165266103) 50%, rgba(73,7,25,0.0984768907563025) 90%);
  margin: 0px;
  backdrop-filter: blur(10px);
  flex-direction: column;
  border: none;
  border-radius: 20px;
  text-align: center;
  transition: all .5s ease-in;
}

.navbar__menu__v2 .navbar__menu__item__sub{
  padding: 15px 0px;
}
.navbar__menu__v2 .link{
  margin: auto;
}
.navbar__menu__title{
    font-size: 28px;
} 
.link{
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 16px;
    color: #CDCDCD;
    transition: .2s color ease-in-out;;
}
.link:hover{
    color: white;
    transition: .2s color ease-in-out;;
}
.navbar__menu__title__sub{
    line-height: 32px;
    font-size: 19px;
}
/*contenido principal main*/
.container__grupos{
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 140px;
}
.container__grupos__texto{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

}
.container__grupos__texto > p{
    color: #CDCDCD;
    font-size: 19px;
}
.button_link, #formulario button{
    padding: 10px 20px;
    border: 2px solid rgba(203,18,68,0.2);
    background: linear-gradient(90deg, rgba(73,7,25,0.10127801120448177) 0%, rgba(73,7,25,0.0984768907563025) 10%, rgba(73,7,25,0.10407913165266103) 50%, rgba(73,7,25,0.0984768907563025) 90%);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    color: #CDCDCD;
    cursor: pointer;
    font-size: 18px;
    transition: .3s all ease-in-out;
}
.button_link:hover, #formulario button:hover{
    background: rgba(203,18,68,0.2);
    transition: .3s all ease-in-out;
}

/*cubo*/
#tridiv {
    perspective: 800px;
    overflow: hidden;
    width: 400px;
    height: 500px;
    background: transparent;
    font-size: 350.5%;
  }
  .face {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
  }
  .scene, .shape, .face, .face-wrapper, .cr {
    position: absolute;
    transform-style: preserve-3d;
  }
  .scene {
    width: 80em;
    height: 80em;
    top: 50%;
    left: 50%;
    margin: -40em 0 0 -40em;
  }
  .shape {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform-origin: 50%;
  }
  .face, .face-wrapper {
    overflow: hidden;
    transform-origin: 0 0;
    backface-visibility: hidden;
    /* hidden by default, prevent blinking and other weird rendering glitchs */
  }
  .face {
    background-size: 100% 100%!important;
    background-position: center;
  }
  .face-wrapper .face {
    left: 100%;
    width: 100%;
    height: 100%
  }
  .photon-shader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
  }
  .side {
    left: 50%;
  }
  .cr, .cr .side {
    height: 100%;
  }
  [class*="cuboid"] .ft, [class*="cuboid"] .bk {
    width: 100%;
    height: 100%;
  }
  [class*="cuboid"] .bk {
    left: 100%;
  }
  [class*="cuboid"] .rt {
    transform: rotateY(-90deg) translateX(-50%);
  }
  [class*="cuboid"] .lt {
    transform: rotateY(90deg) translateX(-50%);
  }
  [class*="cuboid"] .tp {
    transform: rotateX(90deg) translateY(-50%);
  }
  [class*="cuboid"] .bm {
    transform: rotateX(-90deg) translateY(-50%);
  }
  [class*="cuboid"] .lt {
    left: 100%;
  }
  [class*="cuboid"] .bm {
    top: 100%;
  }
  /* .cub-1 styles */
  .cub-1 {
    transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
    opacity:1;
    width:4em;
    height:4em;
    margin:-2em 0 0 -2em;
  }
  .cub-1 .ft {
    transform:translateZ(2em);
  }
  .cub-1 .bk {
    transform:translateZ(-2em) rotateY(180deg);
  }
  .cub-1 .rt, .cub-1 .lt {
    width:4em;
    height:4em;
  }
  .cub-1 .tp, .cub-1 .bm {
    width:4em;
    height:4em;
  }
  .cub-1 .face {
    background-color:rgba(203,18,68,0.2);
  }
  .cub-1 .ft {
    background-color:rgba(203,18,68,0.2);
  }
  .cub-1 .bk {
    background-color:rgba(203,18,68,0.2);
  }
  .cub-1 .tp {
    background-color:rgba(203,18,68,0.2);
  }
  .cub-1 .bm {
    background-color:rgba(203,18,68,0.2);
  }
  .cub-1 .lt {
    background-color:rgba(203,18,68,0.2);
  }
  .cub-1 .rt {
    background-color:rgba(203,18,68,0.2);
  }
  .cub-1 .ft {
    width:4em;
    margin-left:0em;
  }
  .cub-1 .bk {
    width:4em;
    margin-left:0em;
  }
  .cub-1 .rt, .cub-1 .lt {
    width:4em;
  }
  .cub-1 .tp, .cub-1 .bm, .cub-1 .tp .photon-shader, .cub-1 .bm .photon-shader {
    border-radius:0em;
  }
  .cub-1 .cr {
    width:0em;
    left:0em;
  }
  .cub-1 .cr-0 {
    transform: translate3D(4em, 0, 2em);
  }
  .cub-1 .cr-1 {
    transform: translate3D(4em, 0, -2em);
  }
  .cub-1 .cr-2 {
    transform: translate3D(0, 0, -2em);
  }
  .cub-1 .cr-3 {
    transform: translate3D(0, 0, 2em);
  }
  .cub-1 .cr-0 .s0 {
    transform: rotateY(15deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .cr-0 .s1 {
    transform: rotateY(45deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .cr-0 .s2 {
    transform: rotateY(75deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .cr-1 .s0 {
    transform: rotateY(105deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .cr-1 .s1 {
    transform: rotateY(135deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .cr-1 .s2 {
    transform: rotateY(165deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .cr-2 .s0 {
    transform: rotateY(195deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .cr-2 .s1 {
    transform: rotateY(225deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .cr-2 .s2 {
    transform: rotateY(255deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .cr-3 .s0 {
    transform: rotateY(285deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .cr-3 .s1 {
    transform: rotateY(315deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .cr-3 .s2 {
    transform: rotateY(345deg) translate3D(-50%, 0, -0.025em);
  }
  .cub-1 .side {
    width:0.025em;
  }
  .cub-1 {
    /*...*/
    animation: up-down 3s ease-in-out infinite;
  }
  
  @keyframes up-down {
    0% { transform: translate3D(0em, 0em, 0em); }
    50% { transform: translate3D(0em, -1em, 0em); }
    100% { transform: translate3D(0em, 0em, 0em); }
  }
/*footeer*/

@media screen and (max-width: 1100px){
    #tridiv {
        width: 400px;
        height: 500px;
        font-size: 300.5%;
      }
}
@media screen and (max-width: 800px){
    .container{
        width: 90%;
    }
    .container__grupos{
        position: relative;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 220px;
    }
    .container__footer{
      top: 340px;
      height: 92px;
    }
    .container__footer__information{
      top: 0px;
    }
}
@media screen and (max-width: 700px){
  .navbar__menu__h{
    display: none;
  }
  .navbar__menu__v2_show{
    height: 150%;
    background: linear-gradient(90deg, rgba(73,7,25,0.10127801120448177) 0%, rgba(73,7,25,0.0984768907563025) 10%, rgba(73,7,25,0.10407913165266103) 50%, rgba(73,7,25,0.0984768907563025) 90%);
    border: 2px solid rgba(203,18,68,0.2);
    transition: all .5s ease-in;
  }

  .icon__menu{
    display: block;
    width: 35px;
    cursor: pointer;
  }
  #formulario{
    width: 300px;
  }
}

@media screen and (max-width: 550px){
  .container__grupos__texto{
    width: auto;
  }
}
/*pagina de contacto*/

.container__formulario{
  position: relative;
  margin-top: 190px;
  margin-bottom: 73px;
}
#formulario{
  margin: auto;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#formulario input{
  padding: 0px 10px;
  width: 100%;
  border: none;
  border-radius: 20px;
  height: 38px;
  font-size: 19px;
}
input:focus{
  outline: none;
}
#formulario label{
  width: 100%;
  font-size: 20px;
}
#formulario textarea{
  padding: 10px 10px;
  width: 100%;
  height: 160px;
  border-radius: 20px;
  resize: none;
  font-size: 17px;
}
#formulario textarea:focus{
  outline: none;
}

/*pagina de informacion*/
#informacion__gif{
  position: relative;
  display: block;
  margin: 200px auto;
  border-radius: 15px;
  width: 80%;
}
